<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    Editing <%= cat.name %>
    <form action="/cats/<%= cat._id %>" method="post">
        Cat's name: <input type = 'text', name = 'name' value= '<%= cat.name %>'>
        Cats's color: <input type = 'text', name ='color', value= '<%= cat.color %>'>
        <input type = 'submit', value = 'Save'>
    </form>
</body>
</html>